#wrapper{
    width: 600px;
    height: 400px;
    margin: 20px auto;
    border: 2px solid black;
    position: relative;
    display: block;
}
#btnGenera{
    font-size: 0px;
    display: block;
    float: left;
    width: 500px;
    height: 500px;
}